.tableContainer{
    display: flex;
    justify-content: center;
    margin: 0;
}

.tableMain{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    border-radius: 15px;
    margin: 25px 0;
    min-width: 1200px;
}

.tableMain th{
    padding: 12px 15px;
    background: rgb(53, 54, 95);
    color: white;
    /* text-align: left; */
}

td{
    padding: 12px 15px;
}

.tableDBtn{
    display:flex;
    justify-content: center;
}

.tableBtn{
    /* display:flex; */
    /* margin-right: -80px; */
    /* margin-left: -80px; */
    padding:10px 10px;
    border-radius: 5px;
    border:none;
    background-color: rgb(1, 0, 70);
    color: white;
    font-size:0.9rem;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}.tableBtn:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    transition: 200ms ease-in-out;
}

@media screen and (max-width: 768px){
    .tableMain{
        padding-top: 32px;
        min-width: 300px;
    }
    .tableMain th{
        font-size: 0.7rem;
    }

    .tableMain tr{
        font-size: 0.8rem;
    }

}

.sellinput{
    width: 40px;
}

.sellbtn{
    background: rgb(53, 54, 95);
    padding-left:5px;
    padding-right:5px;
    color: white;

}