.Container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-wrapper{
    /* border: 1px solid red; */
    margin:0 auto;
    justify-content: space-around;
}

.checkboxes{
    margin: 10px;
}

.search-input{
    padding-left:10px;
    padding-right:10px;
    border-radius: 4px;
}

.tablecont{
    margin:0 auto;
    margin-top:10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 1200px;
}

.tablecont th{
    padding: 12px 15px;
    background: rgb(53, 54, 95);
    color: white;
}

